#kohanut_header {

	background:#089708 url('img/green-gradient.gif') bottom left repeat-x scroll;
	padding:5px;
	color:white;
	height:30px;

}

	#kohanut_header a {
		color:white;
	}
	
.kohanut_element_ctl * {
	text-decoration:none;
	text-transform:none;
}

.kohanut_element_ctl {

	font-size:12px;
	background:#089708 url('img/green-gradient.gif') bottom left repeat-x scroll;
	border:1px solid #888888;
	padding:5px;
	color:white;
	font-family:Arial,Helvetica,sans serif;
	
	-moz-border-radius:5px;
		-webkit-border-radius:5px;
	
}

	.kohanut_element_ctl p.title {
		padding:0;
		margin:0 0 4px;
		font-size:15px;
		font-weight:bold;
		color:white;
		text-transform:none;
	}
	
	.kohanut_element_ctl p {
		line-height:1.2em;
		
	}
	
	.kohanut_element_ctl .button {
		color:black;
		text-decoration:none;
		border:1px solid #888;
		padding:1px 3px;
		background:#DEDEDE url('img/gray-gradient.gif') 0px -15px repeat-x scroll;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin-right:4px;
		margin-bottom:4px;
		float:left;
		font-size:110%;
		
	}
		.kohanut_element_ctl .button:hover {
			background-position:0 -0px;
			color:black;
		}
		