/*  Page tree - this is the tree that lists pages and has the options for editing them */
		
		/* treeview.css  http://jquery.bassistance.de/treeview/demo/ */
		
		.treeview, .treeview ul { 
			padding: 0;
			margin: 0;
			list-style: none;
		}
		
		.treeview ul {
			margin-top: 0px;
		}
		
		.treeview .hitarea {
			background: url('../img/treeview.gif') -64px -25px no-repeat;
			height: 16px;
			width: 16px;
			margin-left: -16px;
			float: left;
			cursor: pointer;
		}
		/* fix for IE6 */
		* html .hitarea {
			display: inline;
			float:none;
		}
		
		.treeview li { 
			margin: 0;
			padding: 0px 0pt 0px 16px;
				
		}
		
		.treeview a.selected {
			background-color: #eee;
		}
		
		#treecontrol { margin: 1em 0; display: none; }
		
		.treeview .hover { cursor: pointer; }
		
		.treeview li { background: url('../img/treeview-line.gif') 0 0 no-repeat; }
		.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
		
		.treeview .expandable-hitarea { background-position: -80px -3px; }
		
		.treeview li.last { background-position: 0 -1766px }
		.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url('../img/treeview.gif'); }  
		.treeview li.lastCollapsable { background-position: 0 -111px }
		.treeview li.lastExpandable { background-position: -32px -67px }
		
		.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

#pagetree {
	padding-top:10px;
	margin:0 10px;
}

	#pagetree li {
		
	}
	
	/* make is so the parent element "Home" can't be collapsed, doesn't have the tickbox, doesn't have the padding */
	#pagetree>li {
		padding-left:0;
		background:none;
	}
		#pagetree>li>.hitarea {
			display:none;
		}
		
		#pagetree li .pageinfo {
			min-height:27px;
			position:relative;
			top:-6px;
			z-index:2;
			padding:0px 0 3px 24px;
		}
		
		#pagetree li>.pageinfo { background:transparent url('../img/page.png') 2px 6px no-repeat scroll;}
		#pagetree li .fam-arrow  {position:absolute;top:0;left:0;}
		#pagetree li.expandable>.pageinfo{ background:transparent url('../img/folder.png') 3px 5px no-repeat scroll; }
		#pagetree li.collapsable>.pageinfo{ background:transparent url('../img/folder-open.png') 3px 5px no-repeat scroll; }
	
		#pagetree .pageinfo .pagename {
			font-weight:bold;
			font-size:90%;
			margin:0;
			padding:2px 0 0;
		}
		
		#pagetree .pageinfo .pageurl {
			color:#888;
			font-size:90%;
			padding:0;
			margin:0;
			font-weight:bold;
		}
		
		#pagetree .pageinfo .islink {
			color:#2B9B1F;
		}
		
		#pagetree .pageinfo .pageurl span {
			color:#aaa;
			font-weight:normal;
			padding-right:1px;
		}

		#pagetree li .pageinfo:hover {
			background-color:#CCFF99;
			
		}
	
		#pagetree .pageinfo .actions {
			display:none;
			float:right;
			padding:5px 0 0;
			z-index:1;
		}
			#pagetree .pageinfo:hover .actions {
				display:block;
			}
			
			#pagetree .pageinfo .actions a {
				text-decoration:none;
				font-size:70%;
				text-align:center;
				line-height:8px;
				float:left;
				color:#003300;
				padding:0px 4px;
			}
			
			#pagetree .pageinfo .actions div {
				margin:0 auto 1px;
			}
			
			#pagetree .pageinfo .actions a:hover span {
				color:#009900;
				text-decoration:underline;
			}

ul.standardlist {
	list-style-type:none;
	margin:0;
	padding:0;
	margin-top:-10px;
}

	ul.standardlist li {
		background:white;
		clear:left;
		padding:0;margin:0;
	}
	
	ul.standardlist p {
		font-weight:bold;
	}
	
	ul.standardlist a {
		cursor:pointer;
		text-decoration:none;
		padding:0;
		margin:0;
	}
		ul.standardlist li.z {
			background:#efefef;
		}
		
		ul.standardlist li:hover {
			background:#CCFF99;
		}
	
	ul.standardlist li div.actions {
		float:right;
		display:none;
		padding:0; margin:0;
		padding-right:5px;
	}
	
		ul.standardlist li:hover div.actions {
			display:block;
		}
		
		ul.standardlist div.actions a {
			text-decoration:none;
			font-size:70%;
			text-align:center;
			line-height:8px;
			float:left;
			color:#003300;
			padding:2px 3px;
		}
		ul.standardlist div.actions a div {
			margin:0 auto 1px;
		}
		ul.standardlist div.actions a:hover span {
			color:#009900;
			text-decoration:underline;
		}
		
	
	ul.standardlist li p {
		margin:0;
		padding:8px;
		color:black;
		margin:0;
		min-height:16px;
	}
	
	textarea {
		font-family:Consolas, Lucida Console, monospace;
		height:300px;
	}
	
	
.inline-sprite {
	float:left;
	width:16px;height:16px;
	display:block;
}
	
.fam-accept,
.fam-add,
.fam-delete,
.fam-edit,
.fam-go,
.fam-error,
.fam-world,
.fam-up,
.fam-down,
.fam-check,
.fam-arrow,
.fam-page,
.fam-page-add,
.fam-page-delete,
.fam-page-edit,
.fam-page-go,
.fam-page-world,
.fam-layout,
.fam-layout-add,
.fam-layout-delete,
.fam-layout-edit,
.fam-layout-go,
.fam-note,
.fam-note-add,
.fam-note-delete,
.fam-note-edit,
.fam-note-go,
.fam-user,
.fam-user-add,
.fam-user-delete,
.fam-user-edit,
.fam-plugin,
.fam-plugin-add,
.fam-plugin-delete,
.fam-plugin-edit,
.fam-plugin-go,
.fam-plugin-error,
.fam-plugin-disabled,
.fam-link,
.fam-link-add,
.fam-link-delete,
.fam-link-edit,
.fam-link-go,
.fam-pilcrow {
	background:url('../img/fam-sprite.png');
	display:block;
	width:16px; height:16px;
	padding:0; margin:0;
}

.fam-accept {background-position:0px 0px}
.fam-add {background-position:-25px 0px}
.fam-delete {background-position:-50px 0px}
.fam-edit {background-position:-75px 0px}
.fam-go {background-position:-100px 0px}
.fam-error {background-position:-125px 0px}
.fam-world {background-position:-150px 0px}

.fam-up {background-position:0px -25px}
.fam-down {background-position:-25px -25px}
.fam-check {background-position:-50px -25px}
.fam-arrow {background-position:-75px -25px}

.fam-page {background-position:0px -50px}
.fam-page-add {background-position:-25px -50px}
.fam-page-delete {background-position:-50px -50px}
.fam-page-edit {background-position:-75px -50px}
.fam-page-go {background-position:-100px -50px}
.fam-page-world {background-position:-150px -50px}

.fam-layout {background-position:0px -75px}
.fam-layout-add {background-position:-25px -75px}
.fam-layout-delete {background-position:-50px -75px}
.fam-layout-edit {background-position:-75px -75px}
.fam-layout-go {background-position:-100px -75px}

.fam-note {background-position:0px -100px}
.fam-note-add {background-position:-25px -100px}
.fam-note-delete {background-position:-50px -100px}
.fam-note-edit {background-position:-75px -100px}
.fam-note-go {background-position:-100px -100px}

.fam-user {background-position:0px -125px}
.fam-user-add {background-position:-25px -125px}
.fam-user-delete {background-position:-50px -125px}
.fam-user-edit {background-position:-75px -125px}

.fam-plugin {background-position:0px -150px}
.fam-plugin-add {background-position:-25px -150px}
.fam-plugin-delete {background-position:-50px -150px}
.fam-plugin-edit {background-position:-75px -150px}
.fam-plugin-go {background-position:-100px -150px}
.fam-plugin-error {background-position:-125px -150px}
.fam-plugin-disabled {background-position:-150px -150px}

.fam-link {background-position:0px -175px}
.fam-link-add {background-position:-25px -175px}
.fam-link-delete {background-position:-50px -175px}
.fam-link-edit {background-position:-75px -175px}
.fam-link-go {background-position:-100px -175px}

.fam-pilcrow {background-position:0px -200px}
