#kohanut_header {
	background:#089708 url('../img/header-bg.gif') bottom left repeat-x scroll;
	padding:5px 15px;
	color:white;
	height:30px;
}

	#kohanut_header a {
		color:white;
	}
	
#kohanut_admin .kohanut_element_ctl * {
	text-decoration:none;
	text-transform:none;
	padding:0;
	margin:0;
}

#kohanut_admin .kohanut_area {
	outline:2px dashed #158C15;
	clear:left;
	margin:-5px;
	padding:5px;
}

#kohanut_admin .kohanut_area_title {
	margin:0;
	padding:4px 6px;
	background:#158C15;
	color:white;
	font-weight:bold;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	width:auto;
	float:left;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
}

#kohanut_admin .kohanut_element_ctl {

	font-size:12px;
	background:#158C15;
	padding:5px;
	color:white;
	font-family:Arial,Helvetica,sans serif;
	background:#666666 url('../img/contentbar.png') 0 0px repeat-x scroll;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	
	position:relative;
	
}

	#kohanut_admin .kohanut_element_ctl p.title {
		padding:.2em;
		margin:0;
		font-size:1.2em;
		font-weight:bold;
		color:white;
		text-transform:none;
		line-height:1em;
	}
	
	#kohanut_admin .kohanut_element_ctl p.title img {
		float:left;
		position:relative;
		top:-2px;
	}
	
	#kohanut_admin .kohanut_element_ctl ul.kohanut_element_actions {
		display:none;
		
	}
	
	#kohanut_admin .kohanut_element_ctl:hover ul.kohanut_element_actions {
		display:block;
		position:absolute;
		background:#666666;
		z-index:1;
		left:0;
		top:2.4em;
		list-style:none;
		-moz-border-radius-bottomright:5px;
		-webkit-border-bottom-right-radius:5px;

	}
	
	#kohanut_admin .kohanut_element_ctl ul.kohanut_element_actions li {
		width:100%;
		list-style:none;
		padding:0;
		margin:0;
	}
	
		#kohanut_admin .kohanut_element_ctl ul.kohanut_element_actions li:hover {
			
		}
		
		#kohanut_admin .kohanut_element_ctl ul.kohanut_element_actions li a {
			color:white;
			font-weight:bold;
			padding:6px 10px 5px 5px;
			display:block;
			
			-moz-border-radius-bottomright:5px;
			-moz-border-radius-topleft:5px;
			-webkit-border-bottom-right-radius:5px;
			-webkit-border-top-left-radius:5px;
		}
		
		#kohanut_admin .kohanut_element_ctl ul.kohanut_element_actions li a:hover {
			background:#22AA22;
		}
	
	#kohanut_admin .kohanut_element_ctl form {
		padding-top:5px;
	}
	
	#kohanut_admin .kohanut_element_ctl input, #kohanut_admin .kohanut_element_ctl select  {
		-moz-border-radius-bottomright:5px;
		-moz-border-radius-topleft:5px;
		-webkit-border-bottom-right-radius:5px;
		-webkit-border-top-left-radius:5px;
		border:1px solid #ddd;
		font-family:inherit;
		font-size:inherit;
		padding:2px;
	}
	
	#kohanut_admin .kohanut_element_ctl input.submit {
		color:#fff;
		padding:4px 5px
	}
	
	#kohanut_admin .kohanut_element_ctl input.submit  {
		border:none;
		background:#1F7F1F url('../img/button.png') 0 -10px repeat-x scroll;
		text-decoration:none;
		font-weight:bold;
	}
	
	#kohanut_admin .kohanut_element_ctl input.submit:hover {
		border:none;
		background:#1F7F1F url('../img/button.png') 0 -5px repeat-x scroll;
	}
	
	#kohanut_admin .kohanut_element_ctl input.submit:active  {
		background:#1F7F1F url('../img/button-hover.png') bottom left repeat-x scroll;
	}
	
#kohanut_admin .fam-edit,
#kohanut_admin .fam-delete,
#kohanut_admin .fam-up,
#kohanut_admin .fam-down,
#kohanut_admin .fam-add
{
	background:url('../img/fam-sprite.png');
	display:block;
	width:16px; height:16px;
	padding:0; margin:0;
}

#kohanut_admin .fam-delete {background-position:-50px 0px}
#kohanut_admin .fam-edit {background-position:-75px 0px}
#kohanut_admin .fam-up {background-position:0px -25px}
#kohanut_admin .fam-down {background-position:-25px -25px}
#kohanut_admin .fam-add {background-position:-25px 0px}

#kohanut_admin .inline-sprite {
	float:left;
	margin-right:4px;
	display:block;
}